html
  head
    title= title
  body

    h1 My Totally Amazing Twitter App

    h2 My User Info
    p= userInfo.username
    p= userInfo.screenname
    img(src=userInfo.profileImg)

    h2 My Most Recent Tweets
    each tweet in tweetList
      ul
        li= tweet.text
        li= tweet.favorite_count
        li= tweet.retweet_count
        li= tweet.createdAt

    h2 My Most Recent Friends
    each user in userList
      ul
        li
          img(src=user.img)
        li= user.screenname
        li= user.name
        li= user.following

    h2 Most Recent Direct Messages
    each message in messageList
      ul
        li= message.sender
        li= message.message
        li= message.sender_screename
